<div [hidden]='!hide' class="container">

  <ul>
    <li class="cart-products" *ngFor='let product of inCartProducts'>

    <div>
      <img src={{product.img}} alt="">
    </div>


    <div class="description">beautiful {{product.type}} for {{product.for}}</div>

    <div class="price">{{product.price}}$</div>

    <div class="howmany"><button (click)='minus(product)' >(-)</button>  x{{ product.howMany}} <button (click)='plus(product)'>(+)</button></div>


    <div class="delete-button">
      <button  (click)='removeProduct(product.id)'><i class="fas fa-trash"></i></button>
    </div>

  </li>
  <div class="total">
    All: <span>{{ finalCount }}$ </span> <button>Confirm<i class="far fa-credit-card"></i></button>
  </div>
</ul>

</div>

<div [hidden]='hide' class="empty-cart">
  <h1>
    Cart List Is Empty
  </h1>
  <p>
    No Product Is Added !
  </p>

</div>
