<ul>
  <li class="cart-products" *ngFor='let product of inCartProducts'>

    <div>
      <img src={{product.img}} alt="">
    </div>

    <div class="product-info">
      <div class="price">{{product.price}}$</div>
      <div class="description">beautiful {{product.type}} for {{product.for}}</div>
    </div>

    <div>{{ product.howMany}}</div>

    <div>
      <button class="delete-button" (click)='removeProduct(product.id)'><i class="fas fa-trash"></i></button>
    </div>

  </li>
  <div>
    total: {{ finalCount }}$
  </div>
</ul>
