.cart-products {
  display: grid;
  grid-template-columns: 300px 600px 100px 100px;
  img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
  }

  .product-info {
    .price {
      color: yellowgreen;
    }
  }
}
