<div class="footer">

  <h3>Contact us</h3>

  <br>

  <div class="container">

    <div>
      <span class="facebook">
        <i class="fab fa-facebook"></i><span>Style Shine</span>
      </span>
    </div>

    <div>
      <span class="whatsapp">
        <i class="fab fa-whatsapp"></i>
        <span>06-xx-xx-xx-xx</span>
      </span>
    </div>

    <div>
      <span class="instagram">
        <i class="fab fa-instagram"></i>
        <span>Style_Shine</span>
      </span>
    </div>

    <div>
      <span class="copyright">
        <i class="far fa-copyright"></i>
        <span>S.S Style Shine</span>
      </span>
    </div>

  </div>

</div>
