<div class="container">

  <span class="brand">
    <span class="style">Style<i class="fas fa-sun"></i>Shine</span>
  </span>

  <span class="buttons1">

    <button (mouseover)='mouseOnMan()'  class="men">MEN</button>
    <button (mouseover)='mouseOnWoman()' class="women">WOMEN</button>
    <button (mouseover)='mouseOnKids()'  class="kids">KIDS</button>
    <button (mouseover)='mouseOnDecorations()'  class="decorations">DECORATIONS</button>
    <button (mouseover)='mouseOnBeauty()' class="beauty">BEAUTY</button>

    <ul [hidden]='isHidden' class="shopingList"  (mouseleave)='onMouseOut()'>
      <span [ngClass]='listClass'>{{ listType }}</span>
      <li *ngFor='let content of listContent'>
         {{ content }}
      </li>
    </ul>

  </span>

  <span class="search-input">
    <i [ngClass]="{active: searchActive}" class="fas fa-search"></i>
    <input (keyup)="onSearch()" [(ngModel)]='searchInput' type="text" placeholder="Search for products, brands and more...">
  </span>

  <span class="buttons2">
    <button><i class="far fa-user"></i><span>Profile</span></button>
    <button><i class="far fa-heart"></i>Wishlist</button>
    <button (click)='goToCart()'><i class="fas fa-shopping-basket"></i>Cart</button>
  </span>



</div>
