<div class="container">
  <div class="content">
      <h1>This is <span class="brand">
        <span class="style">Style<i class="fas fa-sun"></i>Shine</span>
      </span></h1>
      <p>welcome in our store, more than +500 product.</p>
      <div class="buttons">
        <button class="men">Men</button>
        <button class="wemen">Wemen</button>
        <div class="middle">
          <button class="kids">Kids</button>
        </div>
        <button class="decorations">Decorations</button>
        <button class="beauty">Beauty</button>
      </div>
  </div>
</div>
