<section class="container">
  <div class="card" >

    <div class='image'>
      <img src={{product.img}} alt="">
    </div>

    <div class="product-info">
      <div class="price">{{ product.price }} $</div>
      <div class="description">A beautiful {{ product.type }} for {{ product.for }}</div>
      <div>
        id: {{ product.id }}
      </div>

      <button [hidden]="showBuyButton" (click)='buyButton()'>
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        Buy Product
      </button>


      <span [hidden]="!showBuyButton">
        <button (click)='minus()'>-</button>
        <input [(ngModel)]='howManyInput' type="number">
        <button (click)='plus()'>+</button>
      </span>


    </div>


  </div>
</section>
