@import url("https://fonts.googleapis.com/css2?family=Fuggles&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crafty+Girls&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Goldman&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(246, 246, 246);
}

button {
  border: none;
  background: none;
}

li {
  text-decoration: none;
}
