* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(246, 246, 246);
}

button {
  border: none;
  background: none;
}

li {
  text-decoration: none;
}
