  <section>
      <ul class="container">
        <li class="products-list" *ngFor='let product of products' (mouseover)='getProduct(product)'>
          <img src={{product.img}} alt="product">
          <div class="price">{{ product.price }}$</div>
          <div class="description">
            beautiful {{ product.type}} for {{ product.for}}
          </div>
          <div class="list-buttons">
            <span  class="bag">
              <button [ngClass]="{ 'active': product.inbag }" (click)='sendToProductInfo()'><i class="fas fa-shopping-basket"></i></button>
            </span>
            <span class="wishlist">
              <button [ngClass]="{ 'active': product.wishlist }" (click)="wishlist(product)"><i class="far fa-heart"></i></button>
            </span>
          </div>
        </li>
      </ul>
  </section>




